*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
}

html,body{
    width: 100%;
    height: 100%;
}

div.app {
    position: absolute;
    width: 100%;
    height: 100%;
}

div.header{
    display: grid;
    grid-template-columns: 10px 40px 50px 50px 10px;
    height: 40px;
    background-color: #212121;
}

div.header > div.title {
    -webkit-app-region:drag 
}